main {
    padding-top: 30px;
}

/* HEADER 
===================== */
header .navbar {
    border-radius: 0;
}

/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
    animation: spin 1s infinite;
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.editProjectButton {
    position: relative;
    top: -48px;
    margin-left: 5px;
    margin-right: 5px;
}

/*.dailyLogsEdit {*/
/*padding: 10px;*/
/*border: 1px solid black;*/
/*background: #ccffcc;*/
/*margin-bottom: 4px;*/
/*}*/

/*.notesEdit{*/
/*position: relative;*/
/*top: 600px;*/
/*left: 800px;*/
/*}*/

/*Daily and Drill Logs*/
.logSection {
    margin: 20px;
}

.log {
    background: #ECF0F1;
    margin: 20px;
    padding: 20px;
    border: 1px solid #404040;
}

.logDeleteButton {
    position: relative;
    /*font-size: 2em;*/
    /*text-align: right;"*/
    /*right: 0px;*/
    float: right;
    /*clear:both;*/
}

.holesTable{

}

.holesTable tr {
    height: 20px;
}

.holesTable td, th {
    width: 20px;
    border: 1px solid black;
    padding: 1px;
}
.white-text {
    color: white;
    font-weight: bold;
}
.hasHole{
    background: #00bfff;
}

.hasComment {
    position:relative;
}
.hasComment:before {
    content: "\f075";
    /*content: "\f0e5";*/
    font-family: FontAwesome;
    left:16px;
    position:absolute;
    top:-1px;
    font-size: .6em;
}