main {
    padding-top: 30px;
}

/* HEADER 
===================== */
header .navbar {
    border-radius: 0;
}

/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
    animation: spin 1s infinite;
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.editProjectButton {
    position: relative;
    top: -48px;
    margin-left: 5px;
    margin-right: 5px;
}

/*.dailyLogsEdit {*/
/*padding: 10px;*/
/*border: 1px solid black;*/
/*background: #ccffcc;*/
/*margin-bottom: 4px;*/
/*}*/

/*.notesEdit{*/
/*position: relative;*/
/*top: 600px;*/
/*left: 800px;*/
/*}*/

/*Daily and Drill Logs*/
.logSection {
    margin: 20px;
}

.log {
    background: #ECF0F1;
    margin: 20px;
    padding: 20px;
    border: 1px solid #404040;
}

.logDeleteButton {
    position: relative;
    /*font-size: 2em;*/
    /*text-align: right;"*/
    /*right: 0px;*/
    float: right;
    /*clear:both;*/
}

.holesTable{

}

.holesTable tr {
    height: 20px;
}

.holesTable td, th {
    width: 20px;
    border: 1px solid black;
    padding: 1px;
}
.white-text {
    color: white;
    font-weight: bold;
}

.hasComment {
    position:relative;
}
.hasComment:before {
    content: "\f075";
    /*content: "\f0e5";*/
    font-family: FontAwesome;
    left:16px;
    position:absolute;
    top:-1px;
    font-size: .6em;
}

#3riversLogo {
    height: 45px;
    margin-top: 5px;
}

#holeDepthGrid {
    width: 500px;
    height: 250px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #dfdfff;
}

.day1{ background-color: #33cc33; }
.day2{ background-color: #ff0000; }
.day3{ background-color: #0066ff; }
.day4{ background-color: #ff9900; }
.day5{ background-color: #ffff00; }
.day6{ background-color: #cc33ff; }
.day7{ background-color: #9966ff; }
.day8{ background-color: #33cc33; }
.day9{ background-color: #ff0000; }
.day10{ background-color: #0066ff; }
.day11{ background-color: #ff9900; }
.day12{ background-color: #ffff00; }
.day13{ background-color: #cc33ff; }
.day14{ background-color: #9966ff; }
.day15{ background-color: #33cc33; }
.day16{ background-color: #ff0000; }
.day17{ background-color: #0066ff; }
.day18{ background-color: #ff9900; }
.day19{ background-color: #ffff00; }
.day20{ background-color: #cc33ff; }
.day21{ background-color: #9966ff; }
.day22{ background-color: #33cc33; }
.day23{ background-color: #ff0000; }
.day24{ background-color: #0066ff; }
.day25{ background-color: #ff9900; }
.day26{ background-color: #ffff00; }
.day27{ background-color: #cc33ff; }
.day28{ background-color: #9966ff; }
.day29{ background-color: #ff9900; }
.day30{ background-color: #ffff00; }
.day31{ background-color: #cc33ff; }