<div>

    <h1>Create Drill Log page</h1>
    {{log.message}}
    <hr>

    <!--<form ng-submit="login.doLogin()">-->
    <form class="form-horizontal" ng-submit="log.doCreate()">

        <div class="form-group">
            <label class="col-sm-2 control-label">Contractors Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.contractorsName">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Job name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.jobName">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Shot Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.shotNumber">
            </div>
        </div>

       <div class="form-group">
            <label class="col-sm-2 control-label">Driller Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.drillerName">
            </div>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label">Audited Flag</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" class="form-control" ng-model="log.auditedFlag">-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label">Customer</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.customer">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Three Rivers Supervisor</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.threeRiversSupervisor">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Notes</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.notes">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Stake Numbers</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.stakeNumbers">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Area Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.areaNumber">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Pattern</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.pattern">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Stake Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="log.stakeNumber">
            </div>
        </div>



        <button type="submit" class="btn btn-primary col-sm-offset-2 col-sm-2">
            Submit
        </button>

    </form>

</div>