<div class="page-header">
    <h1><i class="fa fa-binoculars"></i> View existing Projects</h1>
</div>

<div>
    <!--{{project.projects}}-->

    <div class="jumbotron text-center" ng-show="project.processing">
        <span class="glyphicon glyphicon-repeat spinner"></span>

        <p>Loading Projects...</p>
    </div>

    <ul>
        <li ng-repeat="project in project.projects">
            <a href="/project/view/{{project._id}}">{{project.jobName}}</a>
            {{project.contractorsName}}
        </li>
    </ul>
</div>